/* Tags */

a:link,
a:visited {
    background-color: #66BFBF;
    ;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: rgb(132, 255, 0);
}


body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

hr {
    border-width: 10px;
    border-color: #EAF6F6;
    border-style: dotted none none;
    width: 15%;
}

/* Classes */

.bottom-container {
    padding: 5px 0px 20px;

}

.contact-me {
    padding-bottom: 50px;

}

.copyright-text {
    color: #66BFBF;
    font-size: 0.75rem;
}

.cloud-image-bottom {
    position: absolute;
    left: 300px;
    bottom: 300px
}

.cloud-image-top {
    position: absolute;
    right: 300px;
    top: 50px;

}

.experience-table{
    text-align: left;
    border: 1px solid;
}

.experience-h2{
    padding-bottom: 50px;
}

.middle-container {
    padding-top: 100px;
}

.profile-image{
    border-radius: 100%;
}

.skill-row {
    width: 100%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;

}

.skills-carousel-nav:link,
.skills-carousel-nav:visited {
    background-color: #66BFBF;
    color: black;
}

.skills-carousel-nav:hover{
   background-color: orange;
   background-color: #66BFBF;
   color: black;

}

.skills-image{
    width: 16%;
    background-color: white;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.underline {
    text-decoration: underline;
}

/* ids */